h1 {
    color: darkgreen;
}

.azul {
    color: blue;
}

.p2 span {
    text-decoration: underline;
}

.rojo {
    color: red;
}

.amarillo {
    color: yellow;
}

.verde {
    color: green;
}

.p3 {
    color: greenyellow;
}

.nunc {
    color: pink;
}